body {
  font-family: Arial, sans-serif;
  background: burlywood;
  margin: 0;
  padding: 0;
}
  
  .viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #ffffff2b;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  .scroll-view {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  .answer {
    padding: 5px;
    width: 100px;
    margin-left: 10px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    text-align: center;
    font-weight: bold;
  }
  
  .image-button {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .image-button img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }